{% extends 'guestbook/base.html' %}

{% block content %}
    <h2 class="mb-4">Добавить новую запись</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_author_name">Имя:</label>
            <input type="text" name="author_name" id="id_author_name" class="form-control">
        </div>
        <div class="form-group">
            <label for="id_author_email">Email:</label>
            <input type="email" name="author_email" id="id_author_email" class="form-control">
        </div>
        <div class="form-group">
            <label for="id_entry_text">Текст:</label>
            <textarea name="entry_text" id="id_entry_text" rows="4" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
{% endblock %}
